/JavaFxOrielly/nbproject/private/
/JavaFxOrielly/build/
/JavaFxOrielly/dist/
/FXMLogin/nbproject/private/
/FXMLogin/build/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication4/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/